body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
    background-color: #333;
    color: rgb(233, 28, 28);
    padding: 20px;
    text-align: center}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgba(247, 40, 40, 0.8);
  color: #ffff;
}
.small-image {
  width: 90%; /* Adjust the percentage as needed */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: auto;
}
.center-image {
  display: block;
  margin: auto;
}




















