/* Header styles */
header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px 0; /* Adjust padding as needed */
}

/* The navbar container */
.navbar {
  overflow: hidden;
  background-color: rgba(247, 40, 40, 0.8); /* Adjust transparency and color as needed */
}

/* Navbar links */
.navbar a {
  display: inline-block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition effect */
}

/* Links - change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Main content styles */
main {
  padding: 20px;
}

/* About content styles */
.about-content {
  margin-bottom: 20px;
}

.about-content h2 {
  color: #333;
}

.about-content p {
  color: #555;
  line-height: 1.6;
}

/* Footer styles */
footer {
  background-color: #F1F1F1;
  color: #333;
  padding: 10px;
  text-align: center;
}
