/* Base Page Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  background-color: #333;
  color: rgb(233, 28, 28);
  padding: 20px;
  text-align: center;
}

/* Navbar Styles */
.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgba(247, 40, 40, 0.8);
  color: #ffff;
}

/* Image Styles */
.small-image {
  width: 90%; /* Adjust the percentage as needed */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: auto;
}

.center-image {
  display: block;
  margin: auto;
}

/* Modal Styles */
.modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #333;
    color: white;
    border-bottom: 1px solid #444;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 20px;
}

.modal-header .btn-close {
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
}

.modal-body form {
    margin-top: 10px;
}

.modal-body label {
    color: #333;
}

.modal-body input[type="text"],
.modal-body input[type="password"],
.modal-body textarea {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

/* Adjust login button style */
.navbar .d-flex .btn-primary {
  background-color: black !important; /* Force black background color */
  color: white !important; /* Force white text color */
  border: none !important; /* Remove default border */
  padding: 10px 20px !important; /* Adjust padding */
  margin-left: 10px !important; /* Space it a bit from other nav items */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.navbar .d-flex .btn-primary:hover {
  background-color: rgba(233, 28, 28, 0.8) !important; /* Hover effect color */
  color: white !important; /* Ensure text color is white on hover */
}
